#this is a sample config file with overly verbose commits. uses
#source builtin of bash

### SCRIPT VARIABLES ###

EXECDIR= #for me only..... think shebang
INPUT_FILE= #for future chain running/re/loading
WEB_DIRECTORY= #location for the MODELS sub dir/gits. 
USER_NAME= 
USER_EMAIL=
USER_CREDENTIALS=


### END SCRIPT VARIABLES ####

#these next variables are for default input arguments#

### DEFAULT INPUT VALUES - LINEAR (res/star) ###
ianaly=
maxsteps= #number of steps for a model
rhomax=
jin=
jout=
kin=
kout=
jmax=
jmin=
q= #
n= #polytropic index
np= #nprime
m= #azimuthal symmetry "arms"
M= #mass RENAME ME
jrhomax= 
restart= #boolean 
equilibrium= #bool for solve or eq



### END DEFAULT INPUT VARIABLES - LINEAR (res/star) ###


#this next section is for chymera
#uses alot of the linear input variable (dual use needs notation)

### DEFAULT INPUT NONLINEAR MODELS (point/res) ###
mass= #say 25 etc...








